* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: #574ae8;
  --gradient: linear-gradient(to right, var(--purple) 0%, #3ea1db 100%);
  --white: #ffffff;
  --white-200: #f3f5f7;
  --gray: #717171;
  --gray-dark: #1a202c;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: var(--white-200);
  font-size: 1.6rem;
  a.button {
    padding: 1rem;
    background-color: var(--purple);
    color: white;
    max-width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
  .container {
    width: 100%;
    max-width: 90rem;
    padding: 0 2rem;
  }
  a {
    text-decoration: none;
  }
  header {
    width: 100%;
    min-height: 25rem;
    display: flex;
    font-size: 2.4rem;
    justify-content: center;
    background: var(--gradient);
    padding: 4rem 0;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      a {
        color: var(--white);
      }
    }
    .search_area {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6.5rem;
      border-radius: 0.4rem;
      font-size: 1.6rem;
      background: rgba(255, 255, 255, 0.2);
      color: white;
      input {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        font-size: 1.8rem;
        color: var(--white-200);
        font-weight: 500;
        &::placeholder {
          color: #f3f5f7ab;
        }
      }
      .svgArea {
        padding: 0 2rem;
        svg {
          font-size: 2.6rem;
        }
      }
    }
  }
  main {
    width: 100%;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
      display: grid;
      gap: 5rem;

      .card {
        width: 100%;
        display: grid;
        gap: 2.2rem;
        min-height: 16.5rem;
        border-radius: 0.5rem;
        background-color: var(--white);
        box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
        padding: 2.4rem;

        &.unliked {
          svg {
          }
        }
        &.liked {
          .heart{
            background-position: -2800px 0 !important;
            transition: background 1s steps(28) !important;
          }
        }
        .top {
          display: flex;
          justify-content: space-between;
          position: relative;
          .heart {
            width: 100px;
            height: 100px;
            position: absolute;
            right: -40px;
            top: -30px;
            background: url(https://cdn.discordapp.com/attachments/771766413563002920/998629738945990776/heart.png)
              no-repeat;
            background-size: cover;
            background-position: 0 0;
            cursor: pointer;


          }
        }
        .content {
          display: grid;
          gap: 0.8rem;
          h1 {
            font-size: 2.6rem;
            font-weight: 400;
          }
          p {
            color: var(--gray);
            font-size: 1.8rem;
            line-height: 3.2rem;
            font-weight: 400;
          }
        }
      }
      .button {
        justify-self: center;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 46.88%;
  }
}

@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

